version: '{build}'
max_jobs: 1
image: Visual Studio 2022
# History plugin requires complete log
#clone_depth: 5
branches:
  only:
  - master
#build:
#  verbosity: minimal

environment:
  # Set au version to use or omit to use the latest. Specify branch name to use development version from Github
  au_version: 1.0.0
  au_push: true
  # Force test: use 1 to test all, or N to split testing into N groups
  au_test_groups: 1

  # Github token to commit pushed packages to repository
  github_user_repo: muddy1/chocolatey-packages
  github_api_key:
    secure: M4Wg6wQFGyCkRpQddTBUPBreg442DNDJ7CP51vvBIqXSb1QlM0cWVRL8KUWOVlhz


  # Mail credentials - for error notifications
  mail_user:
    secure: ngn4sotZjK1Ud8AM8yNGJokTgIB2LqM98y3b40Qr/Qw=
  mail_pass:
    secure: aNlzjDshWoyvJeONpn3du0XJaNk96fBm9L9FfKVBdHQ=
  mail_server: smtp.gmail.com
  mail_port: 587
  mail_enablessl: true

  # ID of the gist used to save run results - create a gist under the github_user (secret or not) and grab the id - https://gist.github.com/name/id
  # Optional, leave empty to create anonymous gist
  gist_id: +cRAUL+rPZtyh6RSSLvYGR6C/m1Is6vO6ECKg4GGfwH8eB/Rj4+e7xtkIgrLtJKX

  # Force test: gist id for test results
  gist_id_test: ZXIWbHeriOdL6kRNuBc7Ab4qUi3kPv/19njwow/1ObsXz4+4s9azBr6rPzj0pGfB

  # Chocolatey API key - to push updated packages
  api_key:
    secure: SAQ7hRBNsqyJJygeAIRR5LiSzxcjE7yhC0y4/xUOz5C8IDp1vLtVGiMkTj6vPyYO
    
  # VirusTotal API key
  VT_APIKEY:
    secure: Y/i5myVyft6hO6EL2mUviy8gI15uPbJkJmisGPMoeID2875q1f8/NiSJfRZaDQztnKrrQpOoflVR/f7RDEXnUPq1bvKiBgX4f4V+6xAkiDI=

  #Chocolatey version we want to use when checking for updates (usually latest).
  choco_version: '2.2.2'
  nupkg_cache_path: C:\packages

init:
- git config --global user.email "chocolatey@realdimensions.net"
- git config --global user.name "Chocolatey-AU"
- git config --global core.safecrlf false

install:
- ps: |
    $chocoVersion = $Env:choco_version
    if (!(Test-Path "$env:nupkg_cache_path")) { mkdir -Force "$env:nupkg_cache_path" }
    @{
      'chocolatey' = $chocoVersion
       # Uncomment and input the version if you are using any of these in AU scripts
       #      'wormies-au-helpers' = 'VERSION_HERE'
       #      'chocolatey-core.extension' = 'VERSION_HERE'
       #      'autohotkey.install' = 'VERSION_HERE'
    }.GetEnumerator() | % {
      if (!(Test-Path "${env:nupkg_cache_path}\$($_.Key).$($_.Value).nupkg")) { rm "${env:nupkg_cache_path}\$($_.Key).*.nupkg" ; iwr "https://chocolatey.org/api/v2/package/$($_.Key)/$($_.Value)" -OutFile "${env:nupkg_cache_path}\$($_.Key).$($_.Value).nupkg" }
      if ($_.Key -eq 'chocolatey') { choco upgrade $_.Key --version $_.Value --source ${env:nupkg_cache_path} --allow-downgrade --pre }
      else { choco install $_.Key --version $_.Value --source ${env:nupkg_cache_path} --ignore-dependencies }
    }
    rm "$env:ChocolateyInstall\logs\*.log"
- ps: 'Get-CimInstance win32_operatingsystem -Property Caption, OSArchitecture, Version | fl Caption, OSArchitecture, Version'
- ps: $PSVersionTable
- git --version
- choco --version
- ps: |
    choco install chocolatey-au --version $Env:au_version -y

- ps: |
    "Build info"
    '  {0,-20} {1}' -f 'SCHEDULED BUILD:', ($Env:APPVEYOR_SCHEDULED_BUILD -eq 'true')
    '  {0,-20} {1}' -f 'FORCED BUILD:'   , ($Env:APPVEYOR_FORCED_BUILD    -eq 'true')
    '  {0,-20} {1}' -f 'RE BUILD:'       , ($Env:APPVEYOR_RE_BUILD        -eq 'true')

build_script:
- ps: |
    $ErrorActionPreference = 'Continue'

    if ($Env:APPVEYOR_PROJECT_NAME  -like '*test*') { ./test_all.ps1 "random $Env:au_test_groups"; return }

    if ( ($Env:APPVEYOR_SCHEDULED_BUILD -ne 'true') -and ($Env:APPVEYOR_FORCED_BUILD -ne 'true') ) {
        switch -regex ($Env:APPVEYOR_REPO_COMMIT_MESSAGE)
        {
            '\[AU (.+?)\]'   { $forced = $Matches[1] }

            '\[PUSH (.+?)\]' {
                $packages = $Matches[1] -split ' '
                Write-Host "PUSHING PACKAGES: $packages"
                foreach ($package in $packages) {
                    Write-Host ("{0}`n{1}`n" -f ('-'*60), "PACKAGE: $package")
                    $package_dir = ls -recurse | ? { $_.Name -eq "$package.nuspec"} | select -First 1 | % Directory
                    if (!$package_dir) { Write-Warning "Can't find package '$package'"; continue }
                    try {
                      pushd $package_dir
                      if (Test-Path update.ps1 -ea 0) { ./update.ps1 }
                      choco pack
                      Push-Package
                    } finally {
                      popd
                    }
                }
                return
            }
        }
    }

    ./update_all.ps1 -ForcedPackages $forced
    7z a au_temp.zip $Env:TEMP\chocolatey\au\*

artifacts:
- path: update_info.xml
- path: Update-AUPackages.md
- path: au_temp.zip

notifications:
- provider: Email
  to: $(mail_user)
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true

cache:
  - '%nupkg_cache_path% -> .appveyor.yml'

#on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))